#chartdiv,
#chartdiv__visitas-web,
#chartdiv__visitas-app,
#chartdiv__reservas,
#chartdiv__cliente,
#chartdiv__static{
    /*width: 50%;
    height: 75vh;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);*/
    canvas{
        // &:first-child{
        //     // Añadimos aura al mundo
        //     filter: drop-shadow(0px 0px 50px rgba(75,75,75,.8))
        // }
        // Ocultamos logo del mapa.
        &:last-child{
            display: none;
        }
    }
}
